@import model.Product
@(productForm: Form[Product])(implicit messages: Messages, flash: play.api.mvc.Flash)

@import b3.vertical.fieldConstructor

@first(Messages("product.new.command")){

    @b3.form(action = routes.ProductController.save()){
        <fieldset>
            <legend>
                @Messages("product.details", Messages("product.new.command"))
            </legend>
            @b3.number(productForm("ean"))
            @b3.text(productForm("name"))
            @b3.textarea(productForm("desc"))
            @b3.submit('class -> "btn btn-default"){@Messages("product.new.submit") }
        </fieldset>

    }
}